[submodule "NIX/examples/test-config"]
	path = examples/test-config
	url = https://github.com/ryan4yin/nix-config.git
[submodule "NIX/examples/ricarch-config"]
	path = examples/ricarch-config
	url = https://github.com/RicArch97/nixos-config.git
[submodule "examples/test-config"]
	path = examples/test-config
	url = https://github.com/ryan4yin/nix-config.git
[submodule "examples/ricarch-config"]
	path = examples/ricarch-config
	url = https://github.com/RicArch97/nixos-config.git
